<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
    </li>
    <li>
		<span class="sg-swatch" style="background: #f4f3f2;"></span>
		<span class="sg-label">#f4f3f2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #a03c3c;"></span>
		<span class="sg-label">#a03c3c</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d75a00;"></span>
		<span class="sg-label">#d75a00</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #556e05;"></span>
		<span class="sg-label">#556e05</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #326e96;"></span>
		<span class="sg-label">#326e96</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #215A87;"></span>
		<span class="sg-label">#215A87</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #7D6F20;"></span>
		<span class="sg-label">#7D6F20</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #b4b4b4;"></span>
		<span class="sg-label">#b4b4b4</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e1e1e1;"></span>
		<span class="sg-label">#e1e1e1</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #cdcac9;"></span>
		<span class="sg-label">#cdcac9</span>
	</li>
</ul>
